.slider__nav-bar {
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: -90px;
    left: 50%;
    transform: translateX( -50% );
    text-align: center;
    border-radius: 90px;
    background: $gray-light;
    z-index: 100;

    .nav-control {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        opacity: 0.5;
        width: 42px;
        height: 32px;
        transition: 0.2s;
        cursor: pointer;
        margin-top: 35px;
        z-index: 3;

        &:hover {
            opacity: 0.8;
        }

        i {
            font-size: 1.5em;
        }

        #{&}_active {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 560px) {

    .slider__nav-bar {
      opacity: 0;
      z-index: -1;
    }

}